* {
    margin: 0;
    padding: 0;
}
.body {
    font-family: sans-serif;
    text-rendering: optimizeLegibility;
}
.content {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    .random {
        color: #eee;
        opacity: 0;
        display: inline-block;
        font-size: 1.5rem;
        text-transform: uppercase;
        font-weight: 100;
        cursor: pointer;
    }
}
.social {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 600px;
    text-align: center;
    #social-list {
    }
}
.list-item {
    display: inline-block;
    width: 110px;
    text-align: center;
    .item-link {
        font-size: 12px;
        text-decoration: none;
        color: #7f7f7f;
        transition: 0.3s ease-out all;
        &:focus {
            outline: none;
        }
        &:after {
            content: "";
            position: relative;
            width: 0;
            height: 1px;
            display: block;
            z-index: 100;
            background-color: cyan;
            transition: 0.3s ease-out all;
            left: 50%;
            top: 5px;
            transform: translateX(-50%);
        }
        &:hover {
            color: #eee;
            cursor: url("https://www.flaticon.com/svg/static/icons/svg/3528/3528187.svg"), auto;
        }
        &:hover:after {
            width: 50px;
        }
    }
}

.randomCharacter {
    display: inline-block;
    height: 10px;
}
