<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

{{ if isset .Site.Params "favicon" }}
<link href="{{ .Site.Params.favicon }}" rel="shortcut icon" type="image/x-icon" />
{{ end }}

<link href="{{ .Site.BaseURL }}/css/index.css" rel="stylesheet" />
<link href="{{ .Site.BaseURL }}/css/navbar.css" rel="stylesheet" />
<!-- <link href="{{ .Site.BaseURL }}/css/text-effect.scss" rel="stylesheet" /> -->

<link href="css/tailwind.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/gh/konpa/devicon@master/devicon.min.css" rel="stylesheet">

<script src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.6.5/dat.gui.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/86/three.min.js"></script>
<script async="async" src="js/main.js"></script>

<script type="text/javascript">
    window.addEventListener('scroll', () => {
        const nav = document.querySelector('nav')
        nav.classList.toggle('onscroll', window.scrollY > 0)
    })
    // window.oncontextmenu = function (e) {
    //     e.preventDefault();
    // }
</script>