<div>
  <div class="centerAll">
    <div class="text-center text-effect">
      <span>{{ $.Site.Params.maintitle }}</span>
    </div>
    <div class="text-center sub-text-effect">{{ $.Site.Params.maintext }}</div>
  </div>
</div>
{{ $data := .Site.Data.home }}
<main class="container mx-auto mt-8 px-4 xl:px-0">
  <section id="about" class="md:flex justify-around">
    <div class="my-auto md:mr-4">
      {{ partial "home_title" (dict "title" "Joining Us") }}
      <div class="flex mt-3 gap-3 text-xl">
        {{ range $data.about.link }}
        <a href="{{.url}}"><i class="{{ .icon }}"></i></a>{{end}}
      </div>
    </div>
    <div class="mt-4 md:mt-0 md:ml-4">
      <div class="text-2xl font-bold">
        {{ if $data.about.title }}{{$data.about.title}}{{else}}You can put
        text in data/home/about.toml/title{{end}}
      </div>
      <div class="text-lg mt-3">
        <div>
          {{ if $data.about.text}}{{ replace $data.about.text "\n" "<br />" | safeHTML }}
          {{else}}You can put text in
          data/home/about.toml/text{{end}}
        </div>
      </div>
    </div>
  </section>

  <section id="projects" class="mt-12">
    <div class="md:flex justify-center">
      {{ partial "home_title" (dict "title" "Projects") }}
    </div>

    {{if $data.project.list}}
    <div class="mt-8 grid grid-flow-row grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
      {{ range $data.project.list }}
      <div class="w-full rounded overflow-hidden shadow-lg">
        <img class="w-full" src="{{ .image }}" alt="Sunset in the mountains" />
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2">{{ .title }}</div>
          <p class="text-gray-700 text-base">
            {{ .text }}
          </p>
        </div>
      </div>
      {{end}}
    </div>
    {{else}}
    <div class="mt-4 text-xl text-center">Projects does not exist</div>
    {{end}}
  </section>

</br></br>

  <img src="img/logo.png" alt="logo" style="display:block;margin-left: auto;margin-right:auto;width;50%;"/>
  </br></br>
  <div style="text-align:center;">
      <a href="https://github.com/real-re/NarutoSenki-V2" class="button button-3d button-primary button-rounded">Download !!!</a>
  </div>

  <section id="help" class="mt-12">
    <div class="md:flex justify-center">
      {{ partial "home_title" (dict "title" "Help") }}
    </div>

    {{if $data.help.list}}
    <div class="mt-8 grid grid-flow-row grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
      {{ range $data.help.list }}
      <div class="w-full rounded overflow-hidden shadow-lg">
        <div class="">
          <div class="font-bold text-xl mb-2 py-2 px-6 bg-gray-500">
            <div class="flex">
              <a><i class="{{ .icon }}"></i></a>
              <div class="my-auto ml-2">
                {{ .name }}
              </div>
            </div>
          </div>
          <p class="text-gray-700 text-base px-6 pb-4">
            {{ replace .text "\n" "<br />" | safeHTML }}
          </p>
        </div>
      </div>
      {{end}}
    </div>
    {{else}}
    <div class="mt-4 text-xl text-center">help don't exist</div>
    {{end}}
  </section>
</main>
</div>
